body {
 
    background-image: url("hiekkaranta2.JPG");  
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    
}

 *{box-sizing: border-box;}







 
 figcaption {
 background-color: rgb(0, 0, 0);
 color: rgb(255, 255, 255);
 font-style: italic;
 text-align: center;
 padding: 4px;
 margin: auto;
 width: 400px;
}

h1 {
 text-align: center; 
 padding: 30px;  
 color: white;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;

  }

  p {
   color: rgb(255, 255, 255);   
   text-align: center;
   font-size:xx-large;
   padding: 12px;
   padding-bottom: 60px;
  }

  .p2 {
     color: rgb(255, 255, 255); 
     font-size: large;
    padding: 12px;
    padding-bottom: 60px;
  }


  .kuva {
    float: left;  
    width: 50%;
   padding-left: 25px;   
  }

  h2 {
  font-size: x-large;
  text-align: center;
  color: aliceblue;
  padding-top: 40px;
  
  }

  h3 {
    font-size: x-large;
    text-align: center;
    color: aliceblue;   
      padding-top: 40px;
  }

  .p3 {
   color: rgb(255, 255, 255);   
    font-size: large;  
  }

  h4 {
    font-size:xx-large;
    text-align: left;
    color: rgb(255, 255, 255);    
    padding-left: 100px;
    padding-top: 30px;
    padding-bottom:30px;
  }


  .kuva2 {
    float: right;
    padding-left: 30px;
    padding-bottom: 100px;
    padding-top: 50px;
}


  .figcaption2 {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-style: italic;
    text-align: center;
    padding-left: 30px;
  }

  .p4 {
  font-size: x-large;    
 text-align: left;
 color: rgb(255, 255, 255);
 padding-left: 100px; 
 padding-top: 0%;
}


h5 {
  text-align: center; 
  padding: 30px;  
}

ul {
  list-style-type: none;
  margin: 7px;
  padding: 0;
  overflow: hidden;
  background-color:transparent;
  font-family: fantasy;
  font-size: medium;
}

li {
  float: left;
  border-right: 1px solid  rgba(14, 0, 0, 0.548);
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: transparent;
}

li a:link {
  color: black;
  text-decoration: none;
}


 li a:visited {
  color: #000000;
}
 

li a:hover {color: rgb(0, 255, 21);
text-decoration: none;
}


  @media only screen and (max-width: 600px) {
    ul.li {float: none;}
    .kuva2 {  max-width: 100%;
      height: auto;}
    }