body {
 
    background-color:  yellowgreen   
}

* {box-sizing: border-box;}

.nav {
    float: left;
 width: 30%;
}


main {
 width: 70%;
    float: left;
margin: 20px;
}  


nav a:hover {color: red;}